*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  font-family: inherit;
}

html,
body {
  height: 100%;
  background-color: #000;
  color: #fff;
  font-family: sans-serif;
}

canvas {
  background-color: #000;
}


main {
  height: 100%;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .sections {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }

  .stats {
    padding: 1rem;
    background-color: #fff;
    color: #000;
    border-radius: 0.75rem;
    font-size: 1.25rem;


    caption {
      margin-bottom: 1rem;
    }
  }
}